/* Definir a media query junto com as dimensões */
@media screen and (min-width: 0px) and (max-width: 576px) {
    header{
        height: 300px;
        background-repeat: no-repeat;
        background-position: 0px 0px;
    }

    header nav{
        padding: 40px 10px 50px 5px;
        height: 100vh;
        width: 200px;
        margin-left: -200px;
        background-color: rgba(163, 114, 81, 0.788);
        z-index: 10000;
        position: fixed;
        top: 0px;
    }

    header .btn-mobile {
        display: block;
        color: #fff;
        padding: 15px;
    }

    header .btn-mobile ion-icon {
        width: 38px;
        height: 38px;
    }

    .checkout {
        position: fixed !important;
    }
    
    header nav ul {
        display: block;
        text-align: left;
    }

    header nav ul li {
        margin-bottom: 20px;
    }

    header nav ul li img {
        display: none;
    }

    .slogan {
        display: none;
    }

    .em-linha {
        flex-direction: column;
        margin-top: -90px;
        margin-bottom: 40px;
    }

    .div-home img {
        width: 100%;
        height: 300px;
    }

    .img-remove-mobile {
        display: none;
    }
}