/* Formatação global do site da cafeteria */
/* Utilização do seletor (*) para referenciar 
todas as tags html e fazer uma formatação para retirar as margens */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Aplicação de altura e plano de fundo ao header. 
Vamos colocar uma imagem como plano de fundo */
header {
    height: 100vh;
    background-image: url("../img/cafe2.jpg");
    background-size: 100%; 
    background-position: 0 -100px; /*Posição do plano de fundo onde o primeiro valor é x, ou seja horizontal e o segundo valor é y (vertical).*/
}
header nav {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 160px;
    text-align: center;
}
header nav a {
    font-family: 'Quicksand', sans-serif;
    font-size: 12pt;
    text-decoration: none;
    color: white;
}
header nav ul {
    list-style: none; /* remover os marcadores */
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li {
    flex: 1;
    border: 0px solid pink;
}
header nav ul li img {
    height: 85px;
}
.nav-header{
    flex: 0.9;
}
.checkout  {
    position: absolute;
    right: 10px;
    top: 10px;
}
nav ion-icon {
    width: 40px;
    height: 40px;
}